@font-face {
	font-family: "Cascadia Code";
	src:
		url("./assets/fonts/cascadia-code/CascadiaCode.woff2") format("woff2"),
		url("./assets/fonts/cascadia-code/CascadiaCode.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	height: 100vh;
	box-sizing: border-box;

	background-color: rgb(225, 225, 225);

	font-family: "Cascadia Code";
	color: rgb(48, 48, 48);
}

.app {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 2fr 12fr 1fr;
	height: 100%;
}

header {
	grid-column: 1 / 3;
	background-color: rgb(48, 48, 48);
	height: 100%;
}

header h1 {
	color: white;

	padding: 25px;
}

.sidebar {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color: rgb(48, 48, 48, 0.15);

	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 25px;

	overflow: scroll;
}

.sidebar > div:nth-child(1),
.content > div:nth-child(1) {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar > div:nth-child(1) :nth-child(1),
.content > div:nth-child(1) :nth-child(1) {
	margin: 0;
}

.sidebar > div:nth-child(1) :nth-child(2),
.content > div:nth-child(1) :nth-child(2) {
	height: 20px;
	width: 20px;

	padding: 0;

	border: 0;
	background-color: rgb(48, 48, 48, 0);
	color: rgb(48, 48, 48, 0.25);

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: xx-large;
	font-weight: bold;

	cursor: pointer;
}

.sidebar > div:nth-child(1) :nth-child(2):hover,
.content > div:nth-child(1) :nth-child(2):hover {
	text-shadow: 0px 0px 1px rgb(48, 48, 48, 0.25);
}

.project {
	border: 0;
	border-radius: 5px;

	height: 50px;
	width: 100%;

	color: rgb(48, 48, 48);
	background-color: rgb(48, 48, 48, 0.05);
	box-shadow: 0px 0px 5px 1px rgb(48, 48, 48, 0.25);

	font-family: "Cascadia Code";
	font-size: x-large;
	/* font-weight: bold; */
	letter-spacing: 2px;

	cursor: pointer;
}

.clicked {
	box-shadow: inset 0px 0px 5px 1px rgb(48, 48, 48, 0.25);
}

.content {
	display: grid;
	grid-template-columns: 1fr 5px;
	grid-template-rows: 25px 1fr;

	padding: 25px;
}

.content-header {
	grid-template-columns: 1 / 3;
	grid-row: 1 / 2;
}

.content .notes {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	padding-top: 25px;

	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.note {
	height: 200px;
	width: 250px;
	padding: 10px;

	border-radius: 20px;

	color: rgb(48, 48, 48);
	background-color: rgb(48, 48, 48, 0.15);
	box-shadow: 2px 2px 5px 1px rgb(48, 48, 48);

	display: grid;
	grid-template-rows: auto 1fr 50px;
}

.note h2,
.note p,
.note input {
	margin: 0;
}

.note h2 {
	text-align: center;
}

.note .description {
	overflow: scroll;
	height: auto;
	padding: 5px;
}

.note .note-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note button {
	padding: 0;
	border: 0;
	background-color: rgb(48, 48, 48, 0);

	cursor: pointer;
}

.note img {
	height: 35px;
	width: 35px;
}

dialog {
	position: absolute;
	top: 20vh;

	height: 200px;
	width: 500px;

	border: none;
	border-radius: 15px;
	background-color: rgb(200, 200, 200);
	box-shadow: 1px 1px 5px 1px rgb(48, 48, 48);
}

dialog h1 {
	text-align: center;
}

.project-modal form {
	display: grid;
	grid-template-rows: 25px 1fr 50px;
	height: 120px;
}

dialog form input {
	height: 60%;

	border: 0;
	border-radius: 5px;

	color: rgb(48, 48, 48);
	box-shadow: 0px 0px 5px 1px rgb(48, 48, 48, 0.25);
}

dialog form input:invalid {
	border: 1px solid red;
}

dialog form button {
	border: 0;
	border-radius: 5px;

	color: rgb(48, 48, 48);
	background-color: rgb(48, 48, 48, 0.05);
	box-shadow: 0px 0px 5px 1px rgb(48, 48, 48, 0.25);

	font-family: "Cascadia Code";
	font-size: x-large;
	/* font-weight: bold; */
	letter-spacing: 2px;

	cursor: pointer;
}

dialog form button:hover {
	background-color: rgb(48, 48, 48, 0.1);
}

dialog form button:active {
	box-shadow: inset 0px 0px 5px 1px rgb(48, 48, 48, 0.25);
}

.note-modal {
	height: 400px;
}

.note-modal form {
	display: grid;
	grid-template-rows: 25px 1fr 25px 1fr 25px 1fr 25px 1fr 50px;
	height: 320px;
}

.note-modal form .radio {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note-modal input[type="radio"] {
	margin: 0;
	box-shadow: none;
}

.hide {
	display: none;
}

footer {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	background-color: rgb(48, 48, 48);
}
