body {
	margin: 0;
	height: 100vh;
	box-sizing: border-box;

	background-color: rgb(225, 225, 225);
}

.app {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 2fr 12fr 1fr;
	height: 100%;
}

header {
	grid-column: 1 / 3;
	background-color: rgb(48, 48, 48);
	height: 100%;
}

.sidebar {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color: rgb(48, 48, 48, 0.15);
}

footer {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	background-color: rgb(48, 48, 48);
}
